/*----------------------------------------------------------
MASV: N17DCAT023
HO TEN: CHE CONG HAU
LAB: 04
NGAY: 27/09/2020
----------------------------------------------------------*/ 
USE [QLSV]

CREATE PROC [dbo].[SP_INS_ENCRYPT_SINHVIEN] (
	@MASV NVARCHAR(20) ,
	@HOTEN NVARCHAR(100) ,
	@NGAYSINH DATETIME ,
	@DIACHI NVARCHAR(200),
	@MALOP VARCHAR (20) , 
	@TENDN NVARCHAR(100), 
	@MATKHAU VARCHAR(256)  )
AS
BEGIN
	INSERT INTO SINHVIEN(MASV, HOTEN, NGAYSINH, DIACHI, MALOP, TENDN, MATKHAU)
	VALUES(@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, CONVERT(VARBINARY(256),@MATKHAU))
END